<h1>Books</h1>

<h2>New book</h2>
<%= form_with model: @book, url: '/books', method: :post do |f| %>

  <div>
    <div>
      <h4>Title</h4>
    </div>

    <div>
      <%= f.text_field :title %>
    </div>
  </div>

  <div>
    <div>
      <h4>Body</h4>
    </div>

    <div>
      <%= f.text_area :body %>
    </div>
  </div>

  <div>
    <%= f.submit 'Create Book' %>
  </div>

<% end %>

